docs/schemas/ksj/N03-v4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Source: National Land Numerical Information (Administrative Boundaries) Product Specification v4.0, MLIT Japan
  https://nlftp.mlit.go.jp/ksj/jpgis/jpgis_shiyou.html
  License: PDL1.0 https://www.digital.go.jp/resources/open_data/public_data_license_v1.0
  Extracted from: https://nlftp.mlit.go.jp/ksj/gml/product_spec/KS-PS-N03-v4_0.pdf (Appendix 2)
-->
<xsd:schema xmlns:ksj="http://nlftp.mlit.go.jp/ksj/schemas/ksj-app"
  xmlns:gml="http://schemas.opengis.net/gml/3.2.1/gml.xsd"
  xmlns:sch="http://www.ascc.net/xml/schematron"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nlftp.mlit.go.jp/ksj/schemas/ksj-app"
  elementFormDefault="qualified"
  version="4.0">
  <!-- 外部参照 -->
  <xsd:import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!-- 基底要素 -->
  <xsd:element name="Dataset">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="gml:AbstractFeatureType">
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="gml:AbstractGML"/>
            <xsd:element ref="gml:CompositeValue"/>
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- 要素定義 -->
  <xsd:element name="AdministrativeBoundary" type="ksj:AdministrativeBoundaryType"
    substitutionGroup="gml:AbstractFeature"/>
  <xsd:complexType name="AdministrativeBoundaryType">
    <xsd:annotation>
      <xsd:documentation>行政区域</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element name="bounds" type="gml:SurfacePropertyType">
            <xsd:annotation>
              <xsd:documentation>範囲</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="prefectureName" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>都道府県名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="subprefectureName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>北海道の振興局名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="districtName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>郡名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="municipalityName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>市区町村名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="wardName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>政令指定都市の行政区名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="administrativeAreaCode" type="gml:CodeType">
            <xsd:annotation>
              <xsd:documentation>全国地方公共団体コード</xsd:documentation>
              <xsd:appinfo>
                <gml:defaultCodeSpace>AdministrativeAreaCode.xml</gml:defaultCodeSpace>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdministrativeBoundaryPropertyType">
    <xsd:sequence minOccurs="0">
      <xsd:element ref="ksj:AdministrativeBoundary"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
    <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </xsd:complexType>
  <xsd:complexType name="AdministrativeBoundaryMemberType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractMemberType">
        <xsd:sequence minOccurs="0">
          <xsd:element ref="ksj:AdministrativeBoundary"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
